.topbar {
  height: 75px;
  width: 100%;
  display: flex;
  background-color: white;
}
.topbarName {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.topbarLogoImg {
  justify-content: center;
  align-items: center;
  height: 70px;
}
